#haxefolio-overlay-login-modal {
    width: 450px;
    height: 340px;
}

#haxefolio-overlay-preference-modal {
    width: 640px;
    height: 445px;
}

.intellector-login-form-field-label {
    width: 100%;
    text-align: center;
    margin-top: 6px;
}

.intellector-login-field-error-label {
    color: $error-border-color;
    font-size: 11px;
}

.intellector-login-form-error-label {
    color: $error-border-color;
}

.intellector-login-form-remember-checkbox {
    margin-bottom: 12px;
}
