<?xml version="1.0" encoding="utf-8" ?>
<module id="haxefolio-example">
    <resources>
        <resource path="assets/locale" prefix="locale" />
        <resource path="assets/styles" prefix="styles" />
        <resource path="assets/layouts" prefix="layouts" />
    </resources>

    <locales>
        <locale id="en">
            <resource path="locale/en.properties" />
        </locale>
        <locale id="ru">
            <resource path="locale/ru.properties" />
        </locale>
    </locales>

    <themes>
        <default>
            <style resource="styles/main.css" priority="10" />
        </default>
    </themes>
</module>
